.listItem :global(.vtex-button) {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    color: white;
    width: 165px;
}
.listItemActive :global(.vtex-button){
    border-bottom: 1px solid #59ff00;
    color: #59ff00;
}
