.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.sliderLayoutContainer--tabs-slider {
  background: #212121;
}

.sliderArrows--tabs-slider {
  color: white;
}

.sliderLayoutContainer--carousel {
  background: #303030;
  padding: 10px 0 20px;
  margin-bottom: 30px;
}

.paginationDotsContainer--carousel {
  bottom: -18px;
}

.sliderArrows--carousel {
  padding: 0 270px;
  bottom: -20px;
  color: white;
}